* {
  padding: 0;
  margin: 0 auto;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image:linear-gradient(rgba(254 , 60 ,60 , -0.19),rgba(255 , 60 ,60 , 0.81)), url("../img/img.jpeg");
  background-position: center;
}

html{
  background-image: url('../img/download.png');
  background-position: top;
  background-repeat: no-repeat;
}

.search-box{
  width: 100%;
  max-width: 60%;
  min-height: 35px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.home-logo{
  display: flex;
  width: 35%;
}

.search-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list:hover{
  background-color: lightgray;
}
