* {
  padding: 0;
  margin: 0 auto;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.search-box{
  width: 100%;
  max-width: 60%;
  min-height: 35px;
  background-color: white;
  background-image: url('../img/searchicon.png');
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 100%;
}

.list{
  list-style: none;
  text-align: left;
  padding: 5px;
  margin: 2px 2px;
  font-size: 20px;
  max-height: 20px;
}
.list:hover{
  background-color: lightgray;
}

.u-list{
  border: 1px solid gray;
  text-align: left;
  width: 100%;
  max-width: 60%;
}
.list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 100%;
}
